* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
  /* font */
  /* background */
}
:root {
  --primary-color: #696d76;
  --second-color: #212832;
}
/* common */
a {
  text-decoration: none;
}

input,
textarea,
select,
button {
  font-size: inherit; /*kế thừa*/
  font-family: inherit;
}
.container {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin: 0 auto;
}
.btn {
  --height: 58px;

  line-height: var(--height);
  min-width: 149px;
  background: #7264d6;
  border-radius: 8px;
  display: inline-block;
  text-align: center;
  color: #fff;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 600;
}
.btn:hover {
  opacity: 0.8;
  cursor: pointer;
}
.section__label {
  position: relative;
  margin-bottom: 12px;
  color: var(--primary-color);
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.75; /* 175% */
  padding-left: 30px;
}
.section__heading2 {
  margin-top: 12px;
  color: var(--second-color);
  font-size: 4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.25; /* 125% */
}
.section__label::before {
  position: absolute;
  content: "";
  display: inline-block;
  background: var(--primary-color);
  width: 18px;
  height: 2px;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.section__desc {
  margin-top: 20px;
  color: var(--primary-color);
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.67; /* 166.667% */
}
.section__desc2 {
  color: var(--primary-color);
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.75; /* 175% */
}
/* header */
.header {
  position: sticky;
  top: -30px;
  z-index: 2;
  padding: 42px 0 12px 0;
  background: #fff;
}
.header__inner {
  display: flex;
  align-items: center;
}
.navbar {
  margin-left: 46px;
}
.navbar__list {
  display: flex;
}
.navbar__item {
  padding: 12px 24px;
}
.navbar__link {
  color: var(--primary-color);
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.75; /* 175% */
}
.navbar__link:hover {
  color: var(--second-color);
  text-shadow: 0.7px 0 0 currentColor;
}
.navbar__item-active {
  color: var(--second-color);
  text-shadow: 0.7px 0 0 currentColor;
}
.navbar__item-active::after {
  content: "";
  display: block;
  height: 1px;
  width: 100%;
  background: #7264d6;
}
.header__action {
  margin-left: auto;
}
.header__action-login {
  padding: 12px 28px;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.75; /* 175% */
  color: var(--second-color);
}
.header__action-login:hover {
  opacity: 0.8;
}
.header__action-signup {
  min-width: 113px;
  --height: 52px;
  background-color: var(--second-color);
}
/* hero */
.hero {
  margin-top: 64px;
}
.hero__inner {
  display: flex;
  align-items: center;
}
.hero__content {
  width: 46.5%;
}
/* form */
.hero__form {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 540px;
  height: 74px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 16px 42px 0px rgba(0, 0, 0, 0.07);
  flex-shrink: 0;
}
.hero__form-input {
  width: 100%;
  height: 100%;
  border: inherit;
  border: none;
  outline: none;
  padding: 0 23px;
  color: #212832;
  font-size: 1.8rem;
}
.hero__form-input::placeholder {
  color: var(--primary-color);
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.67; /* 166.667% */
}
.hero__btn {
  margin: 0 8px;
  outline: none;
  border: none;
}
.hero__form-desc {
  margin-top: 20px;
  color: var(--primary-color);
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.71; /* 171.429% */
}
.hero__heading {
  color: var(--second-color);
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 70px; /* 116.667% */
}
.hero__heading span {
  color: #7264d6;
}
/* hero media */
.hero__media {
  position: relative;
  margin-left: 160px;
  border-radius: 40px;
  border: 12px solid #212832;
  background: #fff;
  width: 296px;
  height: 562px;
  flex-shrink: 0;
  margin-right: 174px;
}
.hero__media::before {
  position: absolute;
  content: "";
  display: inline-block;
  width: 144px;
  height: 36px;
  border-radius: 0px 0px 18px 18px;
  background: #3c2f60;
  top: -12px;
  left: 50%;
  transform: translateX(-50%);
  /* z-index: 1; */
}
.hero-visa {
  margin: 40px 11px 24px;
  border-radius: 20px;
  background: linear-gradient(76deg, #8679e4 11.52%, #7264d6 70.78%);
}
.hero-visa__inner {
  position: relative;
  padding: 16px;
}
.hero-visa__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hero-visa__title {
  position: relative;
  color: #fff;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  z-index: 1;
}
.hero-visa__money {
  margin-top: -2px;
  color: #fff;
  font-size: 2.2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.hero-visa__info {
  margin-top: 27px;
  display: flex;
  align-items: center;
}
.valid,
.holder {
  position: relative;
  color: #fff;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  z-index: 1;
}
.date,
.name {
  position: relative;
  margin-top: 5px;
  color: #fff;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  display: inline-block;
  z-index: 1;
}
.hero-visa__decor {
  position: absolute;
  top: 0;
  left: 0;
}
/* hero transection */
.hero-Transection__wrap {
  padding: 0 11px 30px;
}
.hero-transection__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hero-transetion__title {
  color: #31456a;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.transection__list {
}
.transection__item {
  margin-top: 28px;
  display: flex;
  align-items: center;
}
.transection__item-title,
.transection__item-money {
  color: var(--second-color);
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1; /* 100% */
}
.transection__item-text,
.transection__item-date {
  margin-top: 6px;
  color: var(--primary-color);
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1; /* 100% */
}
.transection__item-date,
.transection__item-money {
  text-align: right;
}
.transection-icon__imgs {
  margin-right: 14px;
  border-radius: 8px;
  box-shadow: 4px 2px 16px 0px rgba(136, 165, 191, 0.1), -4px -2px 16px 0px #fff;
}
.transection__item:nth-child(1) .transection-icon__imgs {
  background: rgba(74, 181, 227, 0.1);
}
.transection__item:nth-child(2) .transection-icon__imgs {
  background: rgba(218, 100, 100, 0.1);
}
.transection__item:nth-child(3) .transection-icon__imgs {
  background: rgba(67, 159, 144, 0.1);
}
.transection__item:nth-child(4) .transection-icon__imgs {
  background: rgba(114, 100, 214, 0.1);
}
.transection-icon__imgs .transection-icon__img {
  padding: 10px;
  z-index: 1;
}
.transection__item-data {
  margin-left: auto;
}
.hero__deposite {
  position: absolute;
  top: 101px;
  left: -112px;
  width: 174px;
  /* height: 46px; */
  background: #fff;
  border-radius: 6px;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.07);
}
.hero__deposite-wrap {
  padding: 13px 10px;
  display: flex;
  align-items: center;
}
.hero__deposite-img {
  margin-right: 8px;
}
.hero__deposite-title {
  color: #31456a;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1; /* 100% */
}
.hero__deposite-value {
  margin-left: auto;
  color: #4ab5e3;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1; /* 100% */
}
.hero__interest {
  top: 0;
  right: -186px;
  position: absolute;
  width: 130px;
  height: 130px;
  /* fill: #da6464; */
  background: #da6464;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero__interest-value {
  color: #fff;
  font-size: 4.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.hero__interest-title {
  margin-top: -6px;
  text-align: center;
  color: #fff;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.hero__fund {
  position: absolute;
  bottom: 44px;
  right: -86px;
  width: 124px;
  /* height: 68px; */
  background: rgba(67, 159, 144, 1);
  border-radius: 10px;
}
.hero__fund-wrap {
  padding: 20px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hero__fund-value {
  color: #fff;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1; /* 100% */
}
.hero__fund-title {
  margin-top: 5px;
  color: #fff;
  font-size: 0.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1; /* 100% */
}
/* about */
.about {
  margin-top: 160px;
}
.about__inner {
  display: flex;
  align-items: center;
}
.about__media {
  margin-right: 230px;
  position: relative;
  display: flex;
  justify-content: center;
  width: 470px;
}
.about__media::after {
  content: url(../img/about-bg-media.svg);
  position: absolute;
  bottom: -2px;
  left: 0;
  z-index: -1;
}
.about__media-img {
  display: block;
  width: 456px;
  height: 619px;
  object-fit: cover;
}
.about__media-bank {
  position: absolute;
  top: 76px;
  right: 62px;
}
.media-status {
  position: absolute;
  bottom: 89px;
  right: -100px;
  display: flex;
  align-items: center;
  column-gap: 10px;
  border-radius: 8px;
  background: #fffdfa;
  box-shadow: 0px 14px 34px 0px rgba(0, 0, 0, 0.07);
  padding: 15px 30px 15px 15px;
}
.check-container {
  background: #4ab5e3;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
}
.check-wrap {
  width: 20px;
  height: 20px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.media-status__title {
  color: var(--second-color);
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.media-status__content {
  margin-top: 5px;
  color: var(--primary-color);
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.about-list {
  margin-top: 70px;
}
.about-item + .about-item {
  margin-top: 30px;
}
.about-item__title {
  color: var(--second-color);
  font-size: 2.2rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.45; /* 145.455% */
}
.about-item__desc {
  margin-top: 16px;
}
/* payment */
.payment {
  margin-top: 160px;
}
.payment__inner {
  display: flex;
  align-items: center;
  column-gap: 130px;
}
.payment__content {
  width: 40%;
}

.payment__list {
  margin-top: 28px;
}
.payment__item-content {
  margin-top: 18px;
  color: var(--second-color);
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.67; /* 166.667% */
  display: flex;
  align-items: center;
  column-gap: 12px;
}
.payment__item-content::before {
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  background: #7264d6;
  border-radius: 50%;
}
.payment__btn {
  margin-top: 38px;
  background: var(--second-color);
}
/* visa card */
.payment-visa {
  position: relative;
  width: 482px;
  height: 322px;
  flex-shrink: 0;
  border-radius: 20px;
  background: #8476e3;
}
.payment-visa__inner {
  padding: 38px;
}
.payment-visa__decor1 {
  position: absolute;
  top: 0;
  left: 0;
}
.payment-visa__decor2 {
  position: absolute;
  bottom: 0;
  right: 0;
}
.payment-visa__icon {
  position: absolute;
  top: 38px;
  right: 38px;
}
.payment-visa__title,
.payment-visa__money {
  position: relative;
  z-index: 1;
}
.payment-visa__title {
  color: #fff;
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.payment-visa__money {
  color: #fff;
  font-size: 3.2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.payment-visa__info {
  margin-top: 98px;
  display: flex;
  align-items: center;
  column-gap: 26px;
}
.payment__valid,
.payment__holder {
  position: relative;
  color: #fff;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  z-index: 1;
}
.payment__date,
.payment__name {
  position: relative;
  color: #fff;
  font-size: 2.2rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  z-index: 1;
}
.payment-visa__item {
  margin-top: 0;
  top: -48px;
  right: -88px;
  position: absolute;
  width: 276px;
  height: 86px;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0px 14px 38px 0px rgba(0, 0, 0, 0.07);
  padding: 13px 23px;
}
.payment-visa__icons {
  background: rgba(218, 100, 100, 0.1);
}
.visa-income {
  position: absolute;
  right: -88px;
  bottom: -55px;
  width: 120px;
  height: 120px;
  background: #439f90;
  border-radius: 16px;
}
.visa-income__wrap {
  padding: 15px;
}
.income-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  width: 30px;
  height: 30px;
  background: #fff;
  margin-bottom: 14px;
}
.visa-income__title {
  color: #fff;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 6px;
}
.visa-income__value {
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
